<h1>Name: <%= @user.name %></h1>
<h1>Alias: <%= @user.alias %></h1>
<h1>Email: <%= @user.email %></h1>
<hr>
<p>Total number of posts: <%= @ideas.count %></p>
<p>Total number of likes: <%= @ideas_liked.count %></p>
